{{define "content"}}
    <h1>Content</h1>

    <div x-data="{ open: false }">
        <button @click="open = true">Expand</button>

        <span x-show="open">
          Content...
        </span>
    </div>

    <form action="/rpc/create.post" method="POST" x-data="createPost()" @submit.prevent="submitData">
        <input type="text" name="title" x-model="formData.title">
        <textarea name="body" cols="30" rows="10" x-model="formData.body"></textarea>
        <button>Submit</button>

        <p x-text="response"></p>
    </form>

    <script>
        function createPost() {
            return {
                formData: {
                    title: '',
                    body: '',
                },
                response: {
                    id: '',
                    title: '',
                    body: '',
                    created_at: '',
                    updated_at: '',
                },
                async submitData() {
                    const response = await fetch('/rpc/create.post', {
                        method: 'POST',
                        body: JSON.stringify(this.formData),
                        headers: {
                            'Content-Type': 'application/json',
                        },
                    })

                    const json = await response.json()

                    const res = JSON.stringify(json)
                    console.log(res)

                    this.response = res
                }
            };
        }
    </script>
{{end}}